body{
  background-color: #eee;
  font-family: arial, sans-serif;
  padding: 1rem;
}

svg {
  margin: 1rem;
  background-color: #fff;
}

.x-graph-title {
  font: 0.6rem sans-serif;
}

.x-graph-axis {
  font: 0.6rem sans-serif;
}
